<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs130.beatmarkr" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Song List Activity -->
        <activity
            android:name=".SongListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Bookmarks/Player Activity -->
        <activity
            android:name=".BookmarksActivity"
            android:label="@string/title_activity_bookmarks"
            android:screenOrientation="portrait"
            android:parentActivityName=".SongListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs130.beatmarkr.SongListActivity" />
        </activity>

        <service android:name="com.cs130.beatmarkr.MusicService" />

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>
